<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard site</title>
    <%-cdn.bootstrapCSS%>
    <%-cdn.jquery%>
    <%-cdn.popper%>
    <%-cdn.bootstrapJS%>
    <%-cdn.roboto%>
    <%-cdn.fontawesome%>
    <%-cdn.scrolltop%>
    <link rel="stylesheet" href="./stylesheets/styledashboard.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script src="./javascripts/scriptdashboard.js"></script>
    <script src="./javascripts/proxylist.js"></script>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Admin site</h3>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="/dashboard"><i class="fas fa-chart-pie pr-2"></i>Bảng điều khiển</a>
                </li>
            </ul>
            <ul class="list-unstyled components">
                <li>
                    <a href="/proxy-list"><i class="fas fa-folder-plus"></i> Proxy List</a>
                </li>
            </ul>
            <!-- <ul class="list-unstyled components">
                <li>
                    <a href="/video?"><i class="fas fa-video pr-2"></i>Đăng video</a>
                </li>
            </ul> -->
        </nav>
        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header d-flex">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span><i class="fas fa-arrow-left"></i></span>
                        </button>
                        <h4 class="pl-4 pt-2" id="title-current"></h4>
                    </div>
                </div>
            </nav>
            <div class="navbar navbar-default">
                <div class="container-fluid">
                    <form class="row w-100 ml-1" method="post" id="form-add">
                        <div class="form-group col-sm-5">
                            <input type="text" class="form-control" name="ipProxy" id="ipProxy" placeholder="IP">
                        </div>
                        <div class="form-group col-sm-2">
                            <input type="number" pattern="[0-9]" class="form-control" id="port" name="port" placeholder="Port">
                        </div>
                        <div class="form-group col-sm-2">
                            <input type="text" class="form-control" id="country" name="country" placeholder="Country">
                        </div>
                        <div class="form-group col-sm-3 d-flex">
                            <input class="btn btn-primary w-50" readonly="true" type="submit" value="Thêm">
                            <input class="btn btn-primary w-50 ml-1" readonly="true" type="reset" value="Hủy">
                        </div>
                    </form>
                </div>
                <table class="table table-hover table-dark text-center">
                    <thead>
                        <tr>
                            <th scope="col-1">#</th>
                            <th scope="col">IP</th>
                            <th scope="col">Port</th>
                            <th scope="col">Sửa</th>
                            <th scope="col">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%if(proxylist.length>0){%>
                            <%for (var i = 0; i < proxylist.length; i++) {%>
                                <tr>
                                    <th scope="row"><%-i+1%></th>
                                    <td><%-proxylist[i].ip%></td>
                                    <td><%-proxylist[i].port%></td>
                                    <td><%-proxylist[i].geo%></td>
                                    <td><i class="fas fa-trash <%-proxylist[i]._id%>"></i></td>
                                </tr>
                            <%}%>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>